.navbar{
    background-color: rgb(29,28,29) !important;
}

.navbar .nav-item a{
    color: rgb(29,28,29) !important;
}

.navbar .dropdown-menu{
    background-color: rgba(227,112,47);
}

.btn-primary{
  color: rgb(29,28,29);
  background-color: rgb(235, 235, 235);
  border-color: rgb(29,28,29);  
}

.btn-primary:hover{
  color: rgb(29,28,29);
  background-color: rgba(227,112,47);
  border-color: rgb(229,104,35);
  
}

.dropdown-item:hover{
    background-color: rgba(220,220,220);
}

.btn-primary:hover{
  color: rgb(235, 235, 235);
  background-color: rgba(227,112,47);
  border-color: rgb(229,104,35);
}